.pride {
    height: 100%;
    left: 0;
    opacity: .5;
    position: fixed;
    top: 0;
    width: 100%;
    display: none;
}

.pride > div {
    height: 16.66666666666667%;
    width: 100%;
}

.bar1 {
    background: #ff3e18;
}

.bar2 {
    background: #fc9a00;
}

.bar3 {
    background: #ffd800;
}

.bar4 {
    background: #39ea7c;
}

.bar5 {
    background: #0bb2ff;
}

.bar6 {
    background: #985aff;
}
