.circle > a.r0 {
    word-spacing: 0px;
}

.circle > a.r45 {
    word-spacing: 45px;
}

.circle > a.r90 {
    word-spacing: 90px;
}

.circle > a.r135 {
    word-spacing: 135px;
}

.circle > a.r180 {
    word-spacing: 180px;
}

.circle > a.r225 {
    word-spacing: 225px;
}

.circle > a.r270 {
    word-spacing: 270px;
}

.circle > a.r315 {
    word-spacing: 315px;
}
