#about.modal.fade
    .modal-dialog
        .modal-content
            .modal-header
                %button.close{:data => {:dismiss => "modal"}} &times;
                %h4.modal-title About Tony
            .modal-body
                %p Hi there. My name is Tony Bruess.
                %p
                    I'm a 20 year old entrepreneur, thinker, and innovator.
                %p
                    I co-founded the
                    = succeed ',' do
                        %a{:href => "https://oc.tc", :target => :blank} Overcast Network
                    a Minecraft gaming service which was acquired by and rebranded as
                    %a{:href => "http://lbsg.net", :target => :blank} Lifeboat Network
                    in 2016.
                %p
                    I'm a junior at
                    %a{:href => "http://stanford.edu", :target => :blank} Stanford University
                    majoring in computer science. The past two summers I've worked at
                    %a{:href => "https://slack.com"} Slack
                    and
                    = succeed '.' do
                        %a{:href => "https://dropbox.com", :target => :blank} Dropbox
                %p You can find me on the internet:
                %p#icons
                    - @media.each do |media|
                        %a{:href => media[:url], :target => :blank}
                            %i.fa.fa-2x{:class => media[:fa], :title => media[:title], :rel => "tt-top"}
