!!! 5
%html
    %head
        %title Tony Bruess
        = stylesheet_link_tag "application"
        = javascript_include_tag "application"
    %body
        .container
            .row
                .span12
                    = yield
